---
import "../styles.css";
import MainImage from "../components/MainImage";
import CoursesInfo from "../components/CoursesInfo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainImage />
    <CoursesInfo client:load />
  </body>
</html>
